jupyterlab
jupyterlab-git
pyspark==4.0.0
delta-spark
chispa
cuallee
great_expectations
pandas
numpy
seaborn
matplotlib
scikit-learn
statsmodels
loguru
tabulate
colorama
azure-storage-blob
azure-identity
